---
import Layout from "../layouts/Layout.astro";
import Bolso from "../components/Bolsos.astro"
---

<Layout title="Bolsos">
    <section class="text-white flex flex-col gap-14 py-10 px-8%">
        <Bolso/>
    </section>
</Layout>
