---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">

    <section class="px-8% py-10 flex flex-col gap-24 text-white ">
        <article class="flex flex-col gap-5">
          <span class="flex gap-1 justify-center items-center">
            <h1
              class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
            >
              Contactos
            </h1>
            <img class="w-6" src="/images/arrow.svg" alt="" />
          </span>
          <div
            class="history flex flex-col justify-between items-center flex-wrap gap-20"
          >
            <p class="text-center">
             Comuníquese con cualquiera de los contactos mostrados en esta sección.
            </p>
            <ul >
                <li>
                    <h1 class="text-3xl">Irina</h1>
                </li>
                <li>
                    <h1 class="text-3xl">Cira</h1>
                </li>
                <li>
                    <h1 class="text-3xl">
                        Edey
                    </h1>
                </li>
            </ul>
    
        </article>
        <article class="flex flex-col gap-8 mt-60">
          <span class="flex gap-1 justify-center items-center">
            <h1
              class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
            >
              Qué tenga buen día.
            </h1>
           
          </span>
        </article>
</Layout>