<section class="section-cards">
    <main>
      <img src="/images/products/bolsos/b1.jpg" alt="" />
      <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
      >
      Bolso playero de saco
      </h2>
      <p>Este bolso es tu compañero perfecto para los días de sol y playa. Tiene espacio suficiente para tus imprescindibles, como toalla, protector solar y gafas de sol.</p>
    </main>
  
    <main>
      <img src="/images/products/bolsos/b2.jpg" alt="" />
      <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
      >
      Bolso playero de saco Starbucks
      </h2>
      <p> Si eres fanático de Starbucks, este bolso es para ti. Con un diseño inspirado en la famosa marca de café, es ideal para llevar tus pertenencias a la playa o a una tarde relajada. Combina estilo y funcionalidad con este bolso de lona reversible.</p>
    </main>
  
    <main>
      <img src="/images/products/bolsos/b3.jpg" alt="" />
      <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
      >
      Cartera casual
      </h2>
      <p>La cartera casual es tu aliada para salidas diarias. De tamaño mediano, es cómoda y no estorba. Los modelos estilo “bowling”, “baguette” y “hobo” son ideales para llevar lo básico sin complicaciones.</p>
    </main>
  
    <main>
      <img src="/images/products/bolsos/b4.jpg" alt="" />
      <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
      >
      Cartera de noche
      </h2>
      <p>Para ocasiones especiales, necesitas una cartera elegante y compacta. Opta por un “clutch” o un bolso “de fiesta”. Lleva lo indispensable: documentación, dinero, maquillaje y tu móvil. ¡Destaca en tus salidas nocturnas!</p>
    </main>
  
    <main>
      <img src="/images/products/bolsos/b5.jpg" alt="" />
      <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
      >
      Bolso Moschino
      </h2>
      <p> Los bolsos Moschino expresan audacia y estilo. Esta marca combina cultura pop con alta costura. Encuentra bolsos de formas exageradas y colores vibrantes. Desde bolsos crossbody hasta totes con el icónico logo dorado, Moschino te hará destacar.</p>
    </main>
  
    <main>
      <img src="/images/products/bolsos/b6.jpg" alt="" />
      <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
      >
      Monedero
      </h2>
      <p>El monedero es práctico y compacto. Ideal para llevar tus tarjetas, dinero y llaves. Elige uno que refleje tu estilo personal. Los monederos de tamaño mini son perfectos para no cargar demasiado.</p>
    
    </main>
</section>

<style>
 .section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  main {
    width: 320px;
    height: 360px;
    border-radius: 8px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(14, 13, 13, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  main h2 {
    text-align: center;
  }
  main p {
    font-size: 13px;
    max-width: 310px;
    text-align: center;
  }

  main:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
  }

  main img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
  }

  main span {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .button {
    --color: #ffffff;
    width: 65px;
    height: 28px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, blue, green);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 330px) {
    main{
      width: 300px;
    }
  }
</style>
