<section class="section-cards">
  <main>
    <img src="/images/products/bolsos/b1.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Bolso playero de saco
    </h2>
    <p>Este bolso es tu compañero perfecto para los días de sol y playa. Tiene espacio suficiente para tus imprescindibles, como toalla, protector solar y gafas de sol.</p>
  </main>

  <main>
    <img src="/images/products/bolsos/b2.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Bolso playero de saco Starbucks
    </h2>
    <p> Si eres fanático de Starbucks, este bolso es para ti. Con un diseño inspirado en la famosa marca de café, es ideal para llevar tus pertenencias a la playa o a una tarde relajada. Combina estilo y funcionalidad con este bolso de lona reversible.</p>
  </main>

  <main>
    <img src="/images/products/bolsos/b3.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Cartera casual
    </h2>
    <p>La cartera casual es tu aliada para salidas diarias. De tamaño mediano, es cómoda y no estorba. Los modelos estilo “bowling”, “baguette” y “hobo” son ideales para llevar lo básico sin complicaciones.</p>
  </main>

  <main>
    <img src="/images/products/bolsos/b4.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Cartera de noche
    </h2>
    <p>Para ocasiones especiales, necesitas una cartera elegante y compacta. Opta por un “clutch” o un bolso “de fiesta”. Lleva lo indispensable: documentación, dinero, maquillaje y tu móvil. ¡Destaca en tus salidas nocturnas!</p>
  </main>

  <main>
    <img src="/images/products/bolsos/b5.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Bolso Moschino
    </h2>
    <p> Los bolsos Moschino expresan audacia y estilo. Esta marca combina cultura pop con alta costura. Encuentra bolsos de formas exageradas y colores vibrantes. Desde bolsos crossbody hasta totes con el icónico logo dorado, Moschino te hará destacar.</p>
  </main>

  <main>
    <img src="/images/products/bolsos/b6.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Monedero
    </h2>
    <p>El monedero es práctico y compacto. Ideal para llevar tus tarjetas, dinero y llaves. Elige uno que refleje tu estilo personal. Los monederos de tamaño mini son perfectos para no cargar demasiado.</p>
  
  </main>

  <main>
    <img src="/images/products/ropa/r1.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pullovers de hombre
    </h2>
    <p>Mantén el estilo y la comodidad con nuestros pullovers de hombre. Desde diseños clásicos hasta modernos, encontrarás la prenda perfecta para cualquier ocasión.</p>
  </main>

  <main>
    <img src="/images/products/ropa/r2.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Bermudas de hombre
    </h2>
    <p>¿Listo para el verano? Nuestras bermudas de hombre son ideales para días soleados. Combínalas con una camiseta fresca y estarás listo para la playa o la ciudad.</p>

  </main>

  <main>
    <img src="/images/products/ropa/r3.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Shorts de hombre
    </h2>
    <p>Los shorts son imprescindibles en cualquier guardarropa. Desde los deportivos hasta los casuales, tenemos una variedad de estilos para elegir.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r4.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Licras de mujer
    </h2>
    <p>Si buscas comodidad y estilo, nuestras licras de mujer son la elección perfecta. Ya sea para hacer ejercicio o para un look casual, te sentirás genial.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r5.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pantalón de vestir de mujer
    </h2>
    <p>Elegante y versátil, el pantalón de vestir es un básico que no puede faltar en tu armario. Combínalo con una blusa o una chaqueta para un look sofisticado.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r6.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Juego deportivo de mujer
    </h2>
    <p>¿Quieres lucir genial mientras haces ejercicio? Nuestros juegos deportivos para mujer te ofrecen comodidad y estilo en un solo conjunto.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r7.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pullovers de cuello de hombre
    </h2>
    <p>Clásicos y elegantes, los pullovers con cuello son perfectos para cualquier ocasión. Combínalos con unos pantalones de vestir o jeans para un look impecable.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r8.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Shorts cortos
    </h2>
    <p>Frescos y cómodos, nuestros shorts cortos de mujer son ideales para los días calurosos. Combínalos con una blusa ligera y unas sandalias para un look veraniego.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r9.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Conjunto deportivo Adidas
    </h2>
    <p>Si eres fan de la marca Adidas, nuestros juegos deportivos te encantarán. Diseño, calidad y comodidad en un solo conjunto.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r10.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Vestidos
    </h2>
    <p>Casuales vestidos de verano, tenemos una amplia selección para todos los gustos.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r11.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Ropa de niño
    </h2>
    <p>Mantén a los más pequeños a la moda con nuestra ropa de niño. Desde camisetas hasta abrigos, tenemos todo lo que necesitas.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r12.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Abrigos de hombre
    </h2>
    <p>¿El frío se acerca? Nuestros abrigos de hombre te mantendrán cálido y con estilo.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r13.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pantalón de hombre
    </h2>
    <p>Ya sea para la oficina o para el fin de semana, nuestros pantalones de hombre son versátiles y cómodos.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r14.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pantalón de mujer
    </h2>
    <p>Desde pantalones ajustados hasta pantalones anchos, tenemos opciones para todos los gustos. Combínalos con tacones o zapatillas para un look único.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r15.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Mono deportivo de hombre
    </h2>
    <p>Si buscas un look completo, nuestros monos deportivos para hombre son la elección perfecta. Comodidad y estilo en una sola prenda.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r16.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Enguatadas de hombre
    </h2>
    <p>Mantén el calor con nuestras enguatadas de hombre. Perfectas para los días fríos, te sentirás cómodo y a la moda.</p>
  </main>

  <main>
    <img src="/images/products/ropa/r17.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Abrigos de mujer
    </h2>
    <p>Elegantes y funcionales, nuestros abrigos de mujer son ideales para cualquier temporada.</p>
  </main>

  <main>
    <img src="/images/products/cosmeticos/c1.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Perfume Maja
    </h2>
    <p>El perfume Maja es una fragancia clásica y sofisticada que ha encantado a mujeres de todo el mundo durante más de 100 años. Su aroma delicado y elegante es perfecto para cualquier ocasión.</p>
  </main>


  <main>
    <img src="/images/products/cosmeticos/c2.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Perfumes de hombre
    </h2>
    <p>Animale: Un perfume oriental amaderado con toques de nuez moscada, miel, piña y lima.</p>
    <p>Conexion: Una fragancia fresca y seductora con notas de lavanda, vetiver, musgo de roble y cuero.</p>
  </main>


  <main>
    <img src="/images/products/cosmeticos/c3.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Perfumes de hombre
    </h2>
    <p>OK Cool: Un aroma suave y relajado, ideal para el día a día inspirado en Calvin Klein</p>
    <p>Suave: Este perfume ofrece una fragancia suave y agradable. Su sencillez y elegancia lo hacen perfecto para cualquier ocasión.</p>
  </main>

  
  <main>
    <img src="/images/products/cosmeticos/c4.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Talco Maja
    </h2>
    <p>Suaviza y acondiciona la piel, proporcionando una sensación de frescura. También ayuda a eliminar la fricción y prevenir irritaciones.</p>
  </main>


  <main>
    <img src="/images/products/cosmeticos/c5.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Kit Maja
    </h2>
    <p>Este kit completo incluye talco, perfume, jabón y cinta para el pelo, todo con la fragancia clásica de Maja.</p>
  </main>


  <main>
    <img src="/images/products/cosmeticos/c6.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Colonia para después del afeitado
    </h2>
    <p>Un producto refrescante y calmante para después del afeitado.</p>
  </main>


  <main>
    <img src="/images/products/misc/m1.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Cuchillas de Afeitarse Marca Gillette con Cuchillas de Repuesto
    </h2>
    <p>Estas cuchillas de afeitar de Gillette ofrecen un afeitado suave y preciso. Vienen con cuchillas de repuesto para que puedas mantener tu afeitadora lista en todo momento.</p>
  </main>

  <main>
    <img src="/images/products/misc/m2.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Cepillos de Lavar
    </h2>
    <p>os cepillos de lavar son herramientas esenciales para la limpieza en el hogar. Úsalos para fregar platos, limpiar superficies o incluso para cuidar tus zapatos y ropa.</p>
  </main>


  <main>
    <img src="/images/products/misc/m3.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Liga de Ejercicios
    </h2>
    <p>Las ligas de resistencia son perfectas para ejercitarte en casa o en espacios reducidos. Puedes trabajar todos los grupos musculares con estas bandas elásticas.</p>
  </main>

  <main>
    <img src="/images/products/misc/m4.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Brillo Labial Marca Hold Morning
    </h2>
    <p>El brillo labial Hold Morning ofrece un toque dorado y brillante a tus labios. Ideal para dar un aspecto luminoso y fresco.</p>
  </main>

  <main>
    <img src="/images/products/misc/m5.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Peróxido Marca PlatinOxide
    </h2>
    <p>El peróxido es un desinfectante y blanqueador utilizado en diversas aplicaciones, como la limpieza de heridas o la decoloración del cabello.</p>
  </main>


  <main>
    <img src="/images/products/misc/m6.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pilas AAA
    </h2>
    <p>Las pilas AAA son baterías pequeñas y versátiles utilizadas en dispositivos como controles remotos, relojes y juguetes. Asegúrate de tener siempre algunas a mano.</p>
  </main>


  <main>
    <img src="/images/products/misc/m7.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Cuchillas de Afeitar Marca CoolShave
    </h2>
    <p>Estas cuchillas de afeitar ofrecen un afeitado suave y cómodo. Perfectas para mantener una piel bien cuidada.</p>
  </main>

  <main>
    <img src="/images/products/misc/m8.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Brochas para Tintes
    </h2>
    <p>Las brochas para tintes son ideales para aplicar colorantes en el cabello. Te ayudarán a lograr una aplicación uniforme y precisa.</p>
  </main>

  
  <main>
    <img src="/images/products/misc/m9.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Rodillera
    </h2>
    <p>Si necesitas apoyo y protección para tus rodillas durante actividades físicas o rehabilitación, una rodillera es esencial. Elige una que se ajuste cómodamente y brinde el soporte necesario.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z2.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Zapatos casuales para el diario
    </h2>
    <p>Estos zapatos son tus compañeros perfectos para el día a día. Con su diseño versátil y cómodo, te llevarán desde la oficina hasta una tarde relajada en el parque. Su suela flexible y materiales de alta calidad garantizan comodidad durante todo el día.</p>
  </main>


  <main>
    <img src="/images/products/zapatos/z3.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Zapatillas deportivas
    </h2>
    <p>Estas zapatillas están diseñadas pensando en la comodidad de tus pies. Con una plantilla acolchada y una suela que absorbe los impactos, te sentirás como si estuvieras caminando sobre las nubes. Además, su estilo moderno y elegante te hará destacar en cualquier ocasión.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z4.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Chancletas de niños de gran calidad
    </h2>
    <p>Estas chancletas están hechas para durar. Su construcción resistente y materiales de alta calidad garantizan que los pequeños puedan correr, saltar y jugar sin preocupaciones. Además, su diseño colorido y divertido hará que los niños las adoren.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z5.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Chancletas de niño casuales
    </h2>
    <p>Estas chancletas son ideales para los días de verano. Su diseño ligero y transpirable mantendrá los pies frescos, mientras que su suela antideslizante proporciona seguridad en cada paso. Perfectas para la playa, la piscina o simplemente para relajarse en casa.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z6.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Crocs blancos
    </h2>
    <p>Estos Crocs son mucho más que simples zapatos. Son tus aliados en la cocina. Su diseño resistente al agua y fácil de limpiar los hace ideales para preparar deliciosas comidas. Además, su comodidad te permitirá estar de pie durante horas sin cansarte.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z7.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Ballerinas
    </h2>
    <p>Al contar con una base sencilla, son ideales para llenar de color tu outfit con tonalidades que en otras prendas pueden resultar abrumadoras.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z8.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Sandalias para niños
    </h2>
    <p>Estas sandalias son perfectas para los días soleados. Con su diseño fresco y transpirable, los niños podrán disfrutar del aire libre sin preocupaciones. Además, su suela resistente proporciona tracción en todo tipo de terrenos.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z9.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Zapatos de vestir de hombre
    </h2>
    <p>Estos zapatos son la elección ideal para ocasiones formales.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z10.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Zapatos de vestir para mujer
    </h2>
    <p>Estos zapatos son tu mejor aliado en la oficina. Con su diseño profesional y materiales de alta calidad, te sentirás segura y cómoda durante toda la jornada laboral. Además, su estilo versátil te permite combinarlos con diferentes conjuntos.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z11.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Zapatillas casuales
    </h2>
    <p>Estas zapatillas son un clásico atemporal. Su diseño icónico y suela de goma te proporcionan comodidad y estilo en cada paso. Perfectas para un look casual y relajado.</p>
  </main>

  <main>
    <img src="/images/products/zapatos/z12.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
    Zapatillas de suela alta Converse
    </h2>
    <p>Si buscas un toque más audaz, estas zapatillas son ideales. Con su suela alta y diseño urbano, te harán destacar en la multitud. Perfectas para los amantes del streetwear.</p>
  </main>
</section>

<style>
  .section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  main {
    width: 320px;
    height: 360px;
    border-radius: 8px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(14, 13, 13, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  main h2 {
    text-align: center;
  }
  main p {
    font-size: 13px;
    max-width: 310px;
    text-align: center;
  }

  main:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
  }

  main img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
  }

  main span {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .button {
    --color: #ffffff;
    width: 65px;
    height: 28px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, blue, green);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 330px) {
    main{
      width: 300px;
    }
  }
</style>
