<header class="mobile "  transition:animate="none">
  <nav class="nav-mobile">
    
    <div class="parent   rounded-lg h-10 align-middle">
      <a href="/"><img class="w-6" src="/images/home.svg" alt="" /></a>
      <a href="/Categories"><img class="w-6" src="/images/dropbox.svg" alt=""></a>
      <a href="/products"><img class="w-6" src="/images/projects.svg" alt="" /></a>
      <a href="/about"><img class="w-6" src="/images/about.svg" alt="" /></a>
    </div>

  </nav>


  <span class="item"></span>
  <span class="item2"></span>
  <span class="item3"></span>
</header>

<style>
 .mobile{
  position: relative;
 }


.parent{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 2px;
  width: 100%;
  background-color: rgba(255, 228, 196, 0.114);
  align-items: center;  

}

.parent a:hover{
  opacity: 20%;
}
@media (width > 500px) {
  .parent{
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    background-color: black;
    
  }
}
</style>
