<section class="section-cards">
<main>
    <img src="/images/products/ropa/r1.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pullovers de hombre
    </h2>
    <p>Mantén el estilo y la comodidad con nuestros pullovers de hombre. Desde diseños clásicos hasta modernos, encontrarás la prenda perfecta para cualquier ocasión.</p>
  </main>

  <main>
    <img src="/images/products/ropa/r2.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Bermudas de hombre
    </h2>
    <p>¿Listo para el verano? Nuestras bermudas de hombre son ideales para días soleados. Combínalas con una camiseta fresca y estarás listo para la playa o la ciudad.</p>

  </main>

  <main>
    <img src="/images/products/ropa/r3.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Shorts de hombre
    </h2>
    <p>Los shorts son imprescindibles en cualquier guardarropa. Desde los deportivos hasta los casuales, tenemos una variedad de estilos para elegir.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r4.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Licras de mujer
    </h2>
    <p>Si buscas comodidad y estilo, nuestras licras de mujer son la elección perfecta. Ya sea para hacer ejercicio o para un look casual, te sentirás genial.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r5.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pantalón de vestir de mujer
    </h2>
    <p>Elegante y versátil, el pantalón de vestir es un básico que no puede faltar en tu armario. Combínalo con una blusa o una chaqueta para un look sofisticado.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r6.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Juego deportivo de mujer
    </h2>
    <p>¿Quieres lucir genial mientras haces ejercicio? Nuestros juegos deportivos para mujer te ofrecen comodidad y estilo en un solo conjunto.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r7.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pullovers con cuello para hombre
    </h2>
    <p>Clásicos y elegantes, los pullovers con cuello son perfectos para cualquier ocasión. Combínalos con unos pantalones de vestir o jeans para un look impecable.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r8.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Shorts cortos
    </h2>
    <p>Frescos y cómodos, nuestros shorts cortos de mujer son ideales para los días calurosos. Combínalos con una blusa ligera y unas sandalias para un look veraniego.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r9.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Conjunto deportivo Adidas para mujer
    </h2>
    <p>Si eres fan de la marca Adidas, nuestros juegos deportivos te encantarán. Diseño, calidad y comodidad en un solo conjunto.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r10.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Vestidos
    </h2>
    <p>Casuales vestidos de verano, tenemos una amplia selección para todos los gustos.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r11.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Ropa de niño
    </h2>
    <p>Mantén a los más pequeños a la moda con nuestra ropa de niño. Desde camisetas hasta abrigos, tenemos todo lo que necesitas.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r12.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Abrigos de hombre
    </h2>
    <p>¿El frío se acerca? Nuestros abrigos de hombre te mantendrán cálido y con estilo.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r13.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pantalón de hombre
    </h2>
    <p>Ya sea para la oficina o para el fin de semana, nuestros pantalones de hombre son versátiles y cómodos.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r14.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Pantalón de mujer
    </h2>
    <p>Desde pantalones ajustados hasta pantalones anchos, tenemos opciones para todos los gustos. Combínalos con tacones o zapatillas para un look único.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r15.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Mono deportivo de hombre
    </h2>
    <p>Si buscas un look completo, nuestros monos deportivos para hombre son la elección perfecta. Comodidad y estilo en una sola prenda.</p>
  </main>


  <main>
    <img src="/images/products/ropa/r16.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Enguatadas de hombre
    </h2>
    <p>Mantén el calor con nuestras enguatadas de hombre. Perfectas para los días fríos, te sentirás cómodo y a la moda.</p>
  </main>

  <main>
    <img src="/images/products/ropa/r17.webp" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      Abrigos de mujer
    </h2>
    <p>Elegantes y funcionales, nuestros abrigos de mujer son ideales para cualquier temporada.</p>
  </main>


</section>

  <style>
    .section-cards {
       width: 100%;
       height: auto;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 60px;
     }
     main {
       width: 320px;
       height: 360px;
       border-radius: 8px;
       backdrop-filter: blur(0px) saturate(100%);
       -webkit-backdrop-filter: blur(16px) saturate(180%);
       background-color: rgba(14, 13, 13, 0.2);
       display: flex;
       flex-direction: column;
       gap: 10px;
     }
   
     main h2 {
       text-align: center;
     }
     main p {
       font-size: 13px;
       max-width: 310px;
       text-align: center;
     }
   
     main:hover {
       transform: scale(1.01);
       transition: all 0.3s ease;
     }
   
     main img {
       width: 100%;
       height: 260px;
       border-radius: 8px;
     }
   
     main span {
       display: flex;
       justify-content: space-between;
       padding: 0 10px;
     }
   
     .button {
       --color: #ffffff;
       width: 65px;
       height: 28px;
       background-color: transparent;
       border-radius: 5px;
       position: relative;
       overflow: hidden;
       cursor: pointer;
       transition: 0.5s;
       font-weight: 400;
       font-size: 12px;
       font-weight: 600;
       border: 1px solid;
       text-transform: uppercase;
       color: var(--color);
       z-index: 1;
       text-decoration: none;
       display: flex;
       justify-content: center;
       align-items: center;
     }
   
     .button::before,
     .button::after {
       content: "";
       display: block;
       width: 55px;
       height: 55px;
       transform: translate(-50%, -50%);
       position: absolute;
       border-radius: 50%;
       z-index: -1;
       background: linear-gradient(10deg, blue, green);
       transition: 1s ease;
     }
   
     .button::before {
       top: -1em;
       left: -1em;
     }
   
     .button::after {
       left: calc(100% + 1em);
       top: calc(100% + 1em);
     }
   
     .button:hover::before,
     .button:hover::after {
       height: 410px;
       width: 410px;
     }
   
     .button:hover {
       color: rgb(255, 255, 255);
     }
   
     .button:active {
       filter: brightness(0.8);
     }
   
     @media (width < 330px) {
       main{
         width: 300px;
       }
     }
   </style>
   