<section class="section-cards">

    <main>
        <img src="/images/products/zapatos/z2.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Zapatos casuales para el diario
        </h2>
        <p>Estos zapatos son tus compañeros perfectos para el día a día. Con su diseño versátil y cómodo, te llevarán desde la oficina hasta una tarde relajada en el parque. Su suela flexible y materiales de alta calidad garantizan comodidad durante todo el día.</p>
      </main>
    
    
      <main>
        <img src="/images/products/zapatos/z3.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Zapatillas deportivas
        </h2>
        <p>Estas zapatillas están diseñadas pensando en la comodidad de tus pies. Con una plantilla acolchada y una suela que absorbe los impactos, te sentirás como si estuvieras caminando sobre las nubes. Además, su estilo moderno y elegante te hará destacar en cualquier ocasión.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z4.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Chancletas de niños de gran calidad
        </h2>
        <p>Estas chancletas están hechas para durar. Su construcción resistente y materiales de alta calidad garantizan que los pequeños puedan correr, saltar y jugar sin preocupaciones. Además, su diseño colorido y divertido hará que los niños las adoren.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z5.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Chancletas de niño casuales
        </h2>
        <p>Estas chancletas son ideales para los días de verano. Su diseño ligero y transpirable mantendrá los pies frescos, mientras que su suela antideslizante proporciona seguridad en cada paso. Perfectas para la playa, la piscina o simplemente para relajarse en casa.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z6.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Crocs blancos
        </h2>
        <p>Estos Crocs son mucho más que simples zapatos. Son tus aliados en la cocina. Su diseño resistente al agua y fácil de limpiar los hace ideales para preparar deliciosas comidas. Además, su comodidad te permitirá estar de pie durante horas sin cansarte.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z7.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Ballerinas
        </h2>
        <p>Al contar con una base sencilla, son ideales para llenar de color tu outfit con tonalidades que en otras prendas pueden resultar abrumadoras.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z8.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Sandalias para niños
        </h2>
        <p>Estas sandalias son perfectas para los días soleados. Con su diseño fresco y transpirable, los niños podrán disfrutar del aire libre sin preocupaciones. Además, su suela resistente proporciona tracción en todo tipo de terrenos.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z9.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Zapatos de vestir de hombre
        </h2>
        <p>Estos zapatos son la elección ideal para ocasiones formales.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z10.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Zapatos de vestir para mujer
        </h2>
        <p>Estos zapatos son tu mejor aliado en la oficina. Con su diseño profesional y materiales de alta calidad, te sentirás segura y cómoda durante toda la jornada laboral. Además, su estilo versátil te permite combinarlos con diferentes conjuntos.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z11.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Zapatillas casuales
        </h2>
        <p>Estas zapatillas son un clásico atemporal. Su diseño icónico y suela de goma te proporcionan comodidad y estilo en cada paso. Perfectas para un look casual y relajado.</p>
      </main>
    
      <main>
        <img src="/images/products/zapatos/z12.webp" alt="" />
        <h2
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
        Zapatillas de suela alta Converse
        </h2>
        <p>Si buscas un toque más audaz, estas zapatillas son ideales. Con su suela alta y diseño urbano, te harán destacar en la multitud. Perfectas para los amantes del streetwear.</p>
      </main>


</section>


<style>
    .section-cards {
       width: 100%;
       height: auto;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 60px;
     }
     main {
       width: 320px;
       height: 360px;
       border-radius: 8px;
       backdrop-filter: blur(0px) saturate(100%);
       -webkit-backdrop-filter: blur(16px) saturate(180%);
       background-color: rgba(14, 13, 13, 0.2);
       display: flex;
       flex-direction: column;
       gap: 10px;
     }
   
     main h2 {
       text-align: center;
     }
     main p {
       font-size: 13px;
       max-width: 310px;
       text-align: center;
     }
   
     main:hover {
       transform: scale(1.01);
       transition: all 0.3s ease;
     }
   
     main img {
       width: 100%;
       height: 260px;
       border-radius: 8px;
     }
   
     main span {
       display: flex;
       justify-content: space-between;
       padding: 0 10px;
     }
   
     .button {
       --color: #ffffff;
       width: 65px;
       height: 28px;
       background-color: transparent;
       border-radius: 5px;
       position: relative;
       overflow: hidden;
       cursor: pointer;
       transition: 0.5s;
       font-weight: 400;
       font-size: 12px;
       font-weight: 600;
       border: 1px solid;
       text-transform: uppercase;
       color: var(--color);
       z-index: 1;
       text-decoration: none;
       display: flex;
       justify-content: center;
       align-items: center;
     }
   
     .button::before,
     .button::after {
       content: "";
       display: block;
       width: 55px;
       height: 55px;
       transform: translate(-50%, -50%);
       position: absolute;
       border-radius: 50%;
       z-index: -1;
       background: linear-gradient(10deg, blue, green);
       transition: 1s ease;
     }
   
     .button::before {
       top: -1em;
       left: -1em;
     }
   
     .button::after {
       left: calc(100% + 1em);
       top: calc(100% + 1em);
     }
   
     .button:hover::before,
     .button:hover::after {
       height: 410px;
       width: 410px;
     }
   
     .button:hover {
       color: rgb(255, 255, 255);
     }
   
     .button:active {
       filter: brightness(0.8);
     }
   
     @media (width < 330px) {
       main{
         width: 300px;
       }
     }
   </style>